# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
# vscode-sops
.decrypted~*.yaml
*.agekey
*.pub
*.key
github-deploy-key*
# Ansible
ansible/.ansible/
# Terraform
.terraform
.terraform.tfstate*
terraform.tfstate*
*.auto.tfvars
terraform/talos/output/
megalinter-reports
# Claude
.claude/
# Python venv
.venv
test.yaml
